/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
* {
	margin: 0;
}

body {
	/* 3. Add accessible line-height */
	line-height: 1.5;
	/* 4. Improve text rendering */
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
	isolation: isolate;
}

button {
	border: none;
	background: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

/*
 * ------------------------------------
 *      STYLESHEET STARTS HERE
 * ------------------------------------
 */

/*:root {
	font-family: "Oldenburg", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
}*/

:root {
	background-color: #040404;
	color: #e9e9e9;
	letter-spacing: 0.02em;
	font-size: 18px;
}

body {
	padding: 12vh 12vw 12vh 12vw;
	overflow-y: scroll;
}

#body p + p {
	text-indent: 3em;
}

#body p {
	margin-top: 8px;
}

#optionBase {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	gap: 4px;
	padding-left: 16px;
}

.option {
	color: #999;
	cursor: pointer;
	display: inline;
	min-height: 1.5em;
}

.option * {
	display: inline;
}

.option:hover {
	color: #f0f0f0;
	transition: color 0.2s;
}

.labelContainer {
	min-width: 4em;
	margin-right: 8px;
}

.option .label {
	color: #f0f0f0;
	width: fit-content;
	font-size: 16px;
	border: solid 1px #999;
	display: inline;
	padding: 0 8px 0 4px;
}

.option button {
	background-color: none;
}

.transition {
	color: #999;
	margin-right: 8px;
}

#header {
	display: flex;
	flex-direction: row;
	font-size: 16px;
	justify-content: space-between;
}

#header button {
	background-color: black;
	color: #999;
	border: 1px #999 solid;
}

#header button:hover {
	cursor: pointer;
	border: 1px #999 solid;
	color: #f0f0f0;
}

main {
	display: flex;
	flex-direction: row;
	gap: 32px;
}

#tag_container {
	font-family: Courier;
	font-size: 14px;
	margin-top: 1em;
}

#tag_header {
	text-align: right;
}

#tags {
	border: 1px solid #999;
	padding: 4px;
}

#tags:empty {
	display: none;
}

@media screen and (max-width: 767px) {
	/* smartphones, iPhone, portrait 480x320 phones */

	body {
		padding: 32px;
	}

	.option {
		display: inline;
	}

	.option * {
		display: inline;
		padding: 0px;
	}

	.option .label {
		display: inline;
	}

	#optionBase {
		padding: 0px;
	}

	#optionBase:empty {
		display: none;
	}

	.option:active {
		user-select: none;
		color: #f0f0f0;
	}

	#tag_container {
		display: none;
	}
}
